/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Apply a font family and size to all titles */
h1, h2, h3, h4, h5, h6 {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Change the color to your preference */
    margin-bottom: 10px;
}

/* Style the header */
header {
    text-align: center;
    background-color: #f0f0f0; /* Light gray background color */
    padding: 20px;
}

/* Style the navigation */
nav {
    background-color: #e0e0e0; /* Lighter gray background color */
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

/* Style the sections */
section {
    background-color: #f9f9f9; /* Off-white background color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    display: flex;
}

/* Style the section titles */
section h2 {
    font-size: 20px;
    color: #333; /* Dark gray color */
    margin-bottom: 10px;
    display: flex;
   
}

/* Style each project item */
figure {
    width: 40%; /* Adjust width as needed to fit two items side by side */
    background-color: #ffffff; /* Off-white background color */
    padding: 40px;
    margin: 20px 0;
    border-radius: 5px;
    flex-wrap: wrap;
}

figure img {
    max-width: 100%;
    border-radius: 5px;
}

figure h3 {
    font-size: 18px;
    color: #333; /* Dark gray color */
    margin-top: 10px;
}


html {
    scroll-behavior: smooth;
}

figcaption h2{
color: white;
}

/* Style the work items */
/* Style the work container as a flex container */
.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
    width: 100%;
}

.work-container figure {
    flex-wrap: wrap;
    background-color: #ffffff;
    border: 2px solid black;
    padding:20px;
    margin: 20px 0;
    border-radius: 5px;
}

.work-container figure:nth-child(1) {
    width: 95%; /* Make the first item (Project 1) twice as wide as the others */
    height: 200px;
}

.work-container figure:nth-child(2) {
    width: 39%; 
    height: 200px;
}

.work-container figure:nth-child(3) {
    width: 39%; 
    height: 200px;
}

.work-container figure:nth-child(4) {
    width: 39%; 
    height: 200px;
}
.work-container figure:nth-child(5) {
    width: 39%; 
    height: 200px;
}

.about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* CSS styles for elements with the 'about' class */
}

.about p {
    align-items: center;
    margin-left: 100px;
    /* CSS styles for elements with the 'about' class */
}

.banner {
background-image: url("https://images.unsplash.com/photo-1574717024653-61fd2cf4d44d?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}
.work {
    justify-content: start;
    align-items: center;
    /* CSS styles for elements with the 'work' class */
}

.work p {
    margin-left: 100px;
    /* CSS styles for elements with the 'work' class */
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* CSS styles for elements with the 'contact' class */
}

.contact p {
        align-items: center;
        margin-left: 100px;
        /* CSS styles for elements with the 'about' class */
    
}

.project1 {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1545164415-0fae860defbd?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8TEVEfGVufDB8fDB8fHww");
    color: white;
    display: block;
    text-decoration: none;
    opacity: .8;
}

.image-containter{ 
    background-image: url("https://images.unsplash.com/photo-1545164415-0fae860defbd?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8TEVEfGVufDB8fDB8fHww");
    background-size: cover;
    position: relative;
    opacity: 0.3;
}

.image-container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the link is clickable */
}

.image-container:hover a {
    opacity: 1;
}

.project1 a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    color: white;
    text-decoration: none;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition on hover */
}

.project1:hover a {
    opacity: 1; /* Show the link on hover */
}

.project2 {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1512807286015-d57feef7f28f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODR8fGZpbG1tYWtpbmd8ZW58MHx8MHx8fDA%3D");
    color: white;
    display: block;
    text-decoration: none;
    opacity: .8;
}

.image-containter2{ 
    background-image: url("https://images.unsplash.com/photo-1545164415-0fae860defbd?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8TEVEfGVufDB8fDB8fHww");
    background-size: cover;
    position: relative;
    opacity: 0.3;
}

.image-container2 a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the link is clickable */
}

.image-container2:hover a {
    opacity: 1;
}

.project2 a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    color: white;
    text-decoration: none;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition on hover */
}

.project2:hover a {
    opacity: 1; /* Show the link on hover */
}

.project3 {
    position: relative;
    background-image: url("https://plus.unsplash.com/premium_photo-1661843598966-c7a65f138555?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fHNvdW5kJTIwZGVzaWdufGVufDB8fDB8fHww");
    color: white;
    display: block;
    text-decoration: none;
    opacity: .8;
}

.image-containter3{ 
    background-image: url("https://plus.unsplash.com/premium_photo-1661843598966-c7a65f138555?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fHNvdW5kJTIwZGVzaWdufGVufDB8fDB8fHww");
    background-size: cover;
    position: relative;
    opacity: 0.3;
}

.image-container3 a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the link is clickable */
}

.image-container3:hover a {
    opacity: 1;
}

.project3 a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    color: white;
    text-decoration: none;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition on hover */
}

.project3:hover a {
    opacity: 1; /* Show the link on hover */
}

.project4 {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1509235296665-1fce97de9a2e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aW1heHxlbnwwfHwwfHx8MA%3D%3D");
    color: white;
    display: block;
    text-decoration: none;
    opacity: .8;
}

.image-containter4{ 
    background-image: url("https://images.unsplash.com/photo-1509235296665-1fce97de9a2e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aW1heHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    position: relative;
    opacity: 0.3;
}

.image-container4 a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the link is clickable */
}

.image-container4:hover a {
    opacity: 1;
}

.project4 a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    color: white;
    text-decoration: none;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition on hover */
}

.project4:hover a {
    opacity: 1; /* Show the link on hover */
}

.project5 {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1490971588422-52f6262a237a?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTc4fHx2aWRlbyUyMHByb2R1Y2VyfGVufDB8fDB8fHww");
    color: white;
    display: block;
    text-decoration: none;
    opacity: .8;
}

.image-containter5{ 
    background-image: url("https://images.unsplash.com/photo-1490971588422-52f6262a237a?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTc4fHx2aWRlbyUyMHByb2R1Y2VyfGVufDB8fDB8fHww");
    background-size: cover;
    position: relative;
    opacity: 0.3;
}

.image-container5 a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the link is clickable */
}

.image-container5:hover a {
    opacity: 1;
}

.project5 a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    color: white;
    text-decoration: none;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition on hover */
}

.project5:hover a {
    opacity: 1; /* Show the link on hover */
}


.description {
color: white;
text-shadow: 5px;

}

.about, .work, .contact {
    scroll-margin-top: 100px; /* Adjust as needed to offset the scroll position */
}

@media screen and (max-width: 768px) {
    .work-container figure {
        width: 100%;
    }
}

